---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;
const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} lang="en">
	<article>
		<h1>{post.data.title}</h1>
		<time>{post.data.pubDate ? new Date(post.data.pubDate).toLocaleDateString() : 'No date'}</time>
		<Content />
	</article>
</Layout>
